    body {
        background: lightgray;
        margin: 0;
        padding: 0;
    }
    
    .foto {
        background-image: url(../foto/fon1.png);
        background-size: cover;
        height: 100%;
        min-height: 1216px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .up {
        width: 100%;
        position: relative;
        height: 30px;
        background-color: #065291;
    }
    
    .menu {
        list-style: none;
        padding: 0;
        background-color: #065291;
        height: inherit;
        position: absolute;
        right: 0px;
        margin: 0;
    }
    
    .menu li {
        float: left;
        width: 110px;
        height: inherit;
        display: block;
        vertical-align: middle;
        text-align: center;
    }
    
    .menu .wide {
        width: 150px;
    }
    
    .menu .wide a:hover span {
        text-decoration: underline;
    }
    
    .menu .left {
        margin-right: 40px;
        width: 210px;
    }
    
    .menu .wide :hover {
        background: linear-gradient(to bottom, #51b1dc 0%, #2e7ac4 100%);
    }
    
    .menu img {
        float: left;
        padding-top: 3px;
    }
    
    #divider {
        width: 20px;
    }
    
    #divider img {
        height: 25px;
    }
    
    .menu li a {
        background: #065291;
        color: #4eabda;
        text-decoration: none;
        width: inherit;
        display: block;
        height: inherit;
        line-height: 30px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
        vertical-align: middle;
        text-align: center;
    }
    
    .menu li a:hover {
        background: #4eabda;
        color: #f0f0f0;
    }
    
    .fon {
        width: 740px;
        height: 750px;
        background: black;
        background: rgba(0, 0, 0, 0.6);
        position: relative;
        top: 216px;
        margin: auto;
    }
    
    .top {
        width: 740px;
        height: 50px;
        background: black;
        background: rgba(0, 0, 0, 0.6);
        position: relative;
        top: 230px;
        margin: auto;
    }
    
    .top p {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        vertical-align: middle;
        text-align: center;
        font-size: 25px;
        color: white;
        padding-top: 10px;
    }