    body {
        background: lightgray;
        margin: 0;
        padding: 0;
    }
    
    .foto {
        background-image: url(../foto/fon1.png);
        background-size: cover;
        height: 100%;
        min-height: 1216px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .up {
        width: 100%;
        position: relative;
        height: 30px;
        background-color: #065291;
    }
    
    .menu {
        list-style: none;
        padding: 0;
        background-color: #065291;
        height: inherit;
        position: absolute;
        right: 0px;
        margin: 0;
    }
    
    .menu li {
        float: left;
        width: 100px;
        height: inherit;
        display: block;
        vertical-align: middle;
        text-align: center;
    }
    
    .menu .wide {
        width: 150px;
    }
    
    .menu .wide a:hover span {
        text-decoration: underline;
    }
    
    .menu .left {
        margin-right: 40px;
        width: 210px;
    }
    
    .menu .wide a:hover {
        background: -moz-linear-gradient(to bottom, #51b1dc, #2e7ac4 80%);
        background: -o-linear-gradient(to bottom, #51b1dc, #2e7ac4 80%);
        background: -webkit-linear-gradient(to bottom, #51b1dc, #2e7ac4 80%);
        background: -webkit-gradient(to bottom, #51b1dc, #2e7ac4 80%);
        background: linear-gradient(to bottom, #51b1dc, #2e7ac4 80%);
    }
    
    .menu img {
        float: left;
        padding-top: 3px;
    }
    
    #divider {
        width: 20px;
    }
    
    #divider img {
        height: 25px;
    }
    
    .menu li a {
        background: #065291;
        color: #4eabda;
        text-decoration: none;
        width: inherit;
        display: block;
        height: inherit;
        line-height: 30px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
        vertical-align: middle;
        text-align: center;
    }
    
    .bold {
        font-weight: bold;
        letter-spacing: .5px;
    }
    
    .menu li a:hover {
        background: #4eabda;
        color: #f0f0f0;
    }
    
    .center {
        width: 730px;
        margin: auto;
        position: relative;
        margin-top: 270px;
    }
    
    .fon {
        width: 730px;
        height: 730px;
        background: rgba(0, 0, 0, 0.6);
        text-align: center;
    }
    
    .top {
        width: 730px;
        height: 70px;
        background: rgba(0, 0, 0, 0.6);
    }
    
    .top p {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        vertical-align: middle;
        text-align: center;
        font-size: 30px;
        color: white;
        padding-top: 20px;
    }
    
    .facebook {
        margin-top: 2px;
        padding-top: 30px;
    }
    
    .facebook-a {
        background: -moz-linear-gradient(to bottom, #405896, #374c8d, #304272);
        background: -o-linear-gradient(to bottom, #405896, #374c8d, #304272);
        background: -webkit-linear-gradient(to bottom, #405896, #374c8d, #304272);
        background: -webkit-gradient(to bottom, #405896, #374c8d, #304272);
        background: linear-gradient(to bottom, #405896, #374c8d, #304272);
        border-radius: 4px;
        border-top: 1px solid #758ab5;
        /* -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;*/
        box-sizing: border-box;
        color: #fbffff;
        display: block;
        font-size: 18px;
        height: 40px;
        line-height: 35px;
        margin: auto;
        position: relative;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        width: 300px;
    }
    
    .facebook-a::before {
        background-image: url(../foto/line2.png);
        background-position: right center;
        background-repeat: no-repeat;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        content: 'f';
        display: inline-block;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 26px;
        font-weight: 700;
        height: 35px;
        left: 0;
        line-height: 35px;
        position: absolute;
        text-align: center;
        top: 2px;
        vertical-align: middle;
        width: 39px;
    }
    
    .facebook-a-bold {
        font-weight: bold;
        letter-spacing: .5px;
    }
    
    .facebook-a::after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        content: '\203a';
        display: inline-block;
        font-size: 33px;
        height: 35px;
        line-height: 30px;
        position: absolute;
        right: 26px;
        vertical-align: middle;
        width: 10px;
    }
    
    .ou {
        margin-top: 20px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    }
    
    ::before::after .ou {
        position: relative;
    }
    
    .ou::before {
        content: "";
        width: 120px;
        height: 0px;
        border-top: #666;
        border-bottom: #000;
        border-style: solid;
        position: absolute;
        margin-top: 5px;
        border-width: 1px;
        left: 215px;
    }
    
    .ou::after {
        content: "";
        width: 120px;
        height: 0px;
        border-top: #666;
        border-bottom: #000;
        border-style: solid;
        position: absolute;
        margin-top: 5px;
        border-width: 1px;
        right: 215px;
    }
    
    .forma input {
        margin-top: 20px;
        color: white;
        width: 280px;
        height: 40px;
        padding: 0;
        background: linear-gradient(to bottom, #100f0e 0%, #111111 100%);
        border: none;
        border-bottom: 1px solid grey;
        color: white;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        vertical-align: middle;
        padding-left: 30px;
        font-size: 18px;
    }
    
    .forma input:focus {
        box-shadow: 0 0 5px 2px #4eabda;
        background: #065291;
    }
    
    .YouBike {
        padding-top: 30px;
        font-size: 18px;
    }
    
    .YouBike label {
        color: white;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        vertical-align: middle;
        font-size: 18px;
    }
    
    .button input {
        width: 200px;
        height: 40px;
        text-align: center;
        font-size: 18px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        margin-top: 30px;
        background: linear-gradient(to bottom, #51b1dc 0%, #2e7ac4 100%);
        border: none;
        color: white;
    }
    
    .button input:hover {
        background: linear-gradient(to bottom, #90bbcc 0%, #065291 100%);
        border: none;
        color: white;
    }
    
    .alow {
        color: white;
        text-align: center;
        font-size: 14px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        margin-top: 30px;
        line-height: 0.5;
    }